<div style="padding: 20px;">
  <h1 style="color: blue">{{title}}</h1>
  <h3>{{description}}</h3>
  <nav>
    <a routerlink="customer" class="btn btn-primary active" role="button" routerlinkactive="active">customers</a>
    <a routerlink="add" class="btn btn-primary active" role="button" routerlinkactive="active">add</a>
    <a routerlink="findbyage" class="btn btn-primary active" role="button" routerlinkactive="active">search</a>
  </nav>
  <router-outlet></router-outlet>

</div>


    <h1>Hello {{title}}</h1>




<!-- <div (click)="downloadFile(file.name)">
  <i class="material-icons">file_download</i>

</div> -->
